* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
}

form {
  background-color: white;
  border: solid rgba(128, 128, 128, 0.317) 1px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.482);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

form h3 {
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

form button, form input, form select, textarea {
  width: 85%;
}

form button, .job-settings button {
  margin: 10px auto;
  height: 50px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.482);
  cursor: pointer;
}

form input[type="text"], form input[type="email"], form input[type="password"], form input[type="date"], form select, textarea {
  margin: 10px auto;
  height: 40px;
  background-color: white;
  color: black;
  font-size: 17px;
  font-family: inherit;
  border-radius: 4px;
  border: solid rgba(128, 128, 128, 0.596) 1px;
  padding-left: 10px;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.482);
}  

form textarea {
  height: 200px;
  resize: none;
}

.checked {
  margin: 10px auto 0 auto;
  align-items: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85%;
}

form input[type="checkbox"], form select {
  background-color: white;
}

#remember-me {
  appearance: none;           
  width: 16px;
  height: 16px;
  border: 2px solid gray;
  background-color: white;    
  border-radius: 3px;
  cursor: pointer;
}

#remember-me:checked{
  background-color: orange;
  border-color: orange;
}

#remember-me:checked::after {
  content: "✔";
  color: white;
  font-size: 12px;
  display: block;
  text-align: center;
  line-height: 16px;
}

.orange-button {
  background-color: orange;
  color: white;
}

.forgot-password {
  color: black;
  background-color: white;
}

.cancel {
  background-color: rgb(233, 233, 233);
  color: black;
}

form p {
  margin: 20px 0;
}

form p a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

.job-settings {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 20px auto;
}

.job-settings button {
  margin: 5px;
}

.main-page {
  height: 100vh;
  display:flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  background-color: white;
}

h2 {
  color: black;
  margin: 30px auto;
  font-weight: bold;
}

.job-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.info-block {
  margin: 0 10px;
  width: 250px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.365);
  border-radius: 5px;
}

.info-block p {
  margin: 10px auto;
  color: white;
}

.job-type {
  font-size: 16px;
}

.job-number {
  font-size: 30px;
  font-weight: 600;
}

.jobs-applied-stats {
  margin: 20px auto;
  min-width: 1100px;
  display: flex;
  flex-direction: row;
  max-height: 500px;
}

.bar-chart-container {
  width: 50%;
  min-height: 400px; 
  margin: 20px 10px 10px 0;
}

.search-applications {
  margin: 20px;
  width: 50%;
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: auto;
  justify-content: right;
}

.search-bar input {
  height: 30px;
  margin: auto 5px; 
  background-color: white;
  border-radius: 15px;
  padding-left: 10px;
  color: black;
}

.search-bar svg {
  margin: auto 5px;
}

.current-applications {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 400px;
}

::-webkit-scrollbar {
  display: none;
}

.job-overview {
  display: flex;
  flex-direction: row;
}

.job-overview > * {
  margin-top: 15px;
  margin-bottom: 15px;
}

.job-overview h5 {
  width: 300px;
}

.job-status {
  margin: auto 10px;
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.365);
  border-radius: 5px;
}

.job-status p {
  margin: auto;
}

.job-status a {
  margin: auto 10px;
}